/*-- scss:defaults --*/

/*-- scss:rules --*/
.fragment.current-visible.visible:not(.current-fragment) {
    display: none;
    height:0px;
    line-height: 0px;
    font-size: 0px;
}

#topalign-id h2 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  text-align: center; /* Adjust if needed */
}

section.level2 {
    top: 0px !important;
}

.column {
    text-align: center;
}

/* Hide all figure captions in presentations (they're usually not needed in slides) */
// figcaption {
//     display: none !important;
// }

img.center {
  display: block;
  margin: auto;
}
